.background {
    background-image: url('../public/moon.jpg');
    background-size: 90%;
    background-position: -350% 30%;
    /* background-position: right; */

}
body {
    background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 100%, rgba(0,212,255,1) 100%, rgba(1,0,5,1) 100%);
}

.gradient{
    background-color: #130f40;
background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
}
.gradient1{
    background-color: #294774;
background-image: linear-gradient(320deg, #1f365a 0%, #221f1c 34%);
}

.done{
    color: rgb(23, 167, 47);
}
.fail{
    color:rgb(205, 23, 23);
}
.day-headings{
    color: #21b6d7;
}
.text-light {
    font-family: monospace, 'Montserrat', sans-serif;
    font-size: larger;
    
  }